@model DisasterAlleviationPOE.Models.PurchaseGoods

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add New Allocation</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="DisasterID" class="control-label"></label>
                <select asp-for="DisasterID" class="form-control" asp-items="ViewBag.DisasterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MonetaryID" class="control-label"></label>
                <select asp-for="MonetaryID" class="form-control" asp-items="ViewBag.MonetaryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseAmount" class="control-label"></label>
                <input asp-for="PurchaseAmount" class="form-control" />
                <span asp-validation-for="PurchaseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add New Allocation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color:rebeccapurple !important;" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
